.table-component {
    width: 80%;
    margin: 0 auto;
}

.table-component table {
    width: 100%;
}

.table-component h3 {
    margin-top: 6px;
}

.table-component td,
.table-item-actions a {
    vertical-align: middle;
}

.table-item-actions {
    display: flex;
}

.table-component tbody tr:first-child td.table-item-actions {
    border-top: 0;
}

.table-component .table-item-actions a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.table-item-actions a i.fas {
    vertical-align: middle;
}

.table-component .table-item-actions a i.fa-edit {
    color: #F39C12;
}

.table-component .table-item-actions a i.fa-times {
    color: #E74C3C;
}

.standard-table {
    text-align: center;
}

.standard-table.jumbotron {
    margin-bottom: 12px;
}

.standard-table-top,
.standard-table-bottom {
    margin: 0;
    padding: 0 6px;
    text-align: right;
}

.standard-table-top {
    float: right;
    position: relative;
    top: -6px;
}

.standard-table-top a,
.standard-table-bottom a {
    display: inline-block;
    margin: 0 6px;
}

.standard-table-bottom span {
    display: block;
}

.standard-table th,
.standard-table td {
    text-align: left;
}

.standard-table th:last-child {
    text-align: center;
}

.standard-table .table-item-actions {
    justify-content: center;
}