.page-players {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-list table td {
    vertical-align: middle;
}

/* edit user btn */
.players-list table td .fa-edit {
    color: rgba(0, 188, 140, 0.5);
    text-decoration: none;
}

.players-list table td.player-edit:hover .fa-edit {
    color: rgba(0, 188, 140, 1);
}

/* remove user btn */
.players-list table td .fa-times {
    color: rgba(231, 76, 60, 0.5);
    text-decoration: none;
}

.players-list table td.player-remove:hover .fa-times {
    color: rgba(231, 76, 60, 1);
}