.card-stats .card-title {
    text-align: right;
}

.page-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page-home-inner {
    width: 75%;
}

.page-home-inner h1 {
    background: url('/img/crfc-logo-small.png') no-repeat 0 center;
    background-size: 75px;
    padding: 0 0 0 100px;
    font-size: 3em;
    line-height: 75px;
    height: 75px;
    margin-bottom: 24px;
}

@media only screen and (max-width: 825px) {
    .page-home-inner h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 650px) {
    .page-home-inner h1 {
        font-size: 1.6em;
        background-size: 50px;
        padding: 0 0 0 75px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 520px) {
    .page-home-inner h1 {
        font-size: 1.4em;
        background-size: 35px;
        padding: 0 0 0 50px;
        margin-bottom: 12px;
    }
}

.page-home-stats-area {
    display: flex;
    justify-content: space-around;
}