.layout-wrapper {
  display: 'flex';
  flex-direction: 'row wrap';
  width: 100%;
  height: 100%;
  position: relative;
}

.loader,
.toast {
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.navbar {
  padding: 6px 0;
}

.fas {
  display: inline-block;
  font-size: 1.4em;
  padding: 4px 8px;
  text-align: center;
}