.page-player-details,
.page-player-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-form-inner,
.player-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    margin: 6px;
    flex-wrap: wrap;
}

.player-form-inner.card,
.player-details-container .card {
    margin: 6px;
    min-width: 200px;
    flex-grow: 1;
}

.player-details-container .card-player {
    min-width: 300px;
    flex-grow: 2;
}