.standard-delete {
    text-align: center;
}

.standard-form {
    width: 80%;
    margin: 0 auto;
}

.standard-form-fields .card-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.standard-form-fields .card-form fieldset {
    min-width: 250px;
    max-width: 400px;
    width: 100%;
    padding: 12px;
}

.standard-form-buttons {
    text-align: center;
}

.standard-form-bottom {
    margin: 24px 0 0;
}

.standard-form-fields .standard-form-bottom {
    border-top: solid 1px #444;
    padding-top: 24px;
}

.standard-form-bottom a {
    display: inline-block;
    margin: 0 24px 0 0;
}

.standard-form-bottom span {
    display: block;
}